html, body {
    background-color: #21232A;
    color: cornsilk;
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2em;
    padding: 10px;
}
button{
    padding: 10px;
    box-shadow: 3px 3px #888888;
    background-color: #1589be;
    border: 1px solid black;
    margin: 20px 0px 5px 5px;
}